
<div class="card-container">
    <div *ngFor="let item of items" class="card">
        <img src="{{item.image}}" alt="{{ item.itemName }}" class="card-img-top">
        <div class="card-body">
            <div class="one">
                <p class="card-text">itemNo:{{ item.itemNo }}</p>
                <h5 class="card-title">{{item.itemName }}</h5>
            </div>
            <div class="one">
                <p class="card-text">Price: {{ item.itemPrice}} </p>
                <p class="card-text">Quantity: {{ item.itemQty }}</p>
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-success">select</button>
            </div>
        </div>
    </div>
</div>


